<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>{{helpMsg}}</h1>
    </div>



</body>

<footer>
    {{>footer}}
</footer>

</html>